<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="McncheckSMICMapper">
    <!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
	 select  
	 	ID,
	   [TargetDevice]
      ,[NickName]
      ,[QCTname]
      ,[MCN]
     FROM [ATC_CP_SMIC_MCN_Check]	
     where   1=1
     <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 --> 
     and [TargetDevice] LIKE ('%' + #{pd.keywords} + '%')
     </if>
      [fhstart]order by ID desc [fhend]
     
	</select>
	
		<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
			[ATC_CP_SMIC_MCN_Check]
		where 
			[ID] = #{ID}
	</delete>
	
	<!-- 保存 -->
	<insert id="save" parameterType="pd">
	insert into [ATC_CP_SMIC_MCN_Check](
	   [TargetDevice]
      ,[NickName]
      ,[QCTname]
      ,[MCN]
		)
	values(
	#{TargetDevice}
	,#{NickName}
	,#{QCTname}
	,#{MCN}
	)	
	</insert>
	
	<!-- 通过id查询 -->
	<select id="findById" parameterType="pd" resultType="pd" >
	select 
		ID,
	  [TargetDevice]
      ,[NickName]
      ,[QCTname]
      ,[MCN]
     from [ATC_CP_SMIC_MCN_Check]
     where ID=#{ID}
	</select>
	
	
	<!-- 查询是否有重复主键 -->
	<select id="finBySimilar" parameterType="pd" resultType="int" >
	select 
	   count([TargetDevice])
     from [ATC_CP_SMIC_MCN_Check]
     where 
     	 	TargetDevice   =   #{TargetDevice} 
	</select>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
	update [ATC_CP_SMIC_MCN_Check] set
	   TargetDevice     = #{TargetDevice}
      ,NickName   	    = #{NickName}
      ,QCTname	        = #{QCTname}
      ,MCN		        = #{MCN}
     where
     ID=#{ID}
	</update>
</mapper>