<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IntelMapper">

	<!--表名 -->
	<sql id="tableName">
		INTELNAND_SBL_BIN
	</sql>

	<!-- 字段 -->
	<sql id="Field">
	    ID,
		LOTNO,
		OPERATION_CODE,
		UNIT,
		PASS,
		BIN1,
		INSERTTIME
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
	    #{ID},
		#{LOTNO},
        #{OPERATION_CODE},
        #{UNIT},
        #{PASS},
        #{BIN1},
        #{INSERTTIME}
	</sql>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		FROM
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
		<!-- orcle模糊查询语法格式 需要用 '%'||#{pd.keywords}||'%' 写法 -->
			and LOTNO LIKE ('%'||#{pd.keywords}||'%')
		</if>
		<if test="pd.operationCode!= null and pd.operationCode != ''"><!-- 关键词检索 -->
            and OPERATION_CODE LIKE ('%'||#{pd.operationCode}||'%')
        </if>
        and rownum &lt;101
		order by ID desc
	</select>
	
	   <!-- 删除 -->
    <delete id="delete" parameterType="pd">
        delete from
        <include refid="tableName"></include>
        where
        LOTNO = #{LOTNO}
        and OPERATION_CODE = #{OPERATION_CODE}
        
    </delete>
	

</mapper>